<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>YukInvest</h2>
        </header>
        <p>Kami mengajak anak muda Indonesia <br/> mulai berinvestasi sedini mungkin</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="fit scrolly"><span class="icon fa-chevron-down"></span></a></li>
            </ul>
        </footer>

    </div>

</section>